<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="QuanLyGiaInDBContext" connectionString="metadata=res://*/RepoTinhGia.QLyGiaInModel.csdl|res://*/RepoTinhGia.QLyGiaInModel.ssdl|res://*/RepoTinhGia.QLyGiaInModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.79.54.225,1433\SQL2014CAN;initial catalog=QuanLyGiaIn;persist security info=True;user id=sa;password=Ca@sql@2017!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="QuanLyGiaInDB" connectionString="Data Source=115.79.54.225,1433\SQL2014CAN;Database=QuanLyIn;Initial Catalog=QuanLyGiaIn;User ID=sa;Password=Ca@sql@2017!;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
